@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
     background-color: #f4f0e5;
    background-image: radial-gradient(#d3cfc4 1.3px, transparent 1.3px);
    background-size: 25px 25px;
    background-attachment: fixed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
}
.vid{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    transition: 1s;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
}

.inner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.inner h1 {
    font-size: 130px;
    font-weight: 600;
    letter-spacing: 8px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 0% auto;
}

.inner h2{
    color: #ffffff;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
    margin: 0% auto;
}
.navfixed{
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-left: 30px;
    position: sticky;
    top: 0;
}

.navfixed h2{
    display: block;
    font-weight: 500;
}
.work{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    position: relative;
}

.vid1{
    position: absolute;
    border-radius: 10px;
    width: 75vw;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}

.work2{
    height: 100vh;
    width: 100%;
}


@media screen and (max-width:991px) {
    .inner h1 {
        font-size: 80px;
    }
    
}

@media screen and (max-width:767px) {
    .inner h1{
        font-size: 60px;
    }

    .inner h2{
        font-size: 17px;
    }
    
}
@media screen and (max-width:425px){
    .inner h1{
        font-size: 40px;
    }

    .inner h2{
        font-size: 12px;
    }
}
@media screen and (max-width:320px){

    .inner h1{
        font-size: 30px;
    }

    .inner h2{
        font-size: 10px;
    }
}






























.about{
    width: 100%;
    height: 100vh;
}
